.container-fluid {
    height: 100vh;
    background: #A7F954;
    background: -webkit-radial-gradient(center, #A7F954, #3D7E8E);
    background: -moz-radial-gradient(center, #A7F954, #3D7E8E);
    background: radial-gradient(ellipse at center, #A7F954, #3D7E8E);
}
